.container{
    background-color: blue;
}

.allcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.videomaker{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
h1{
   
    text-align: center;
    border: #fa7590 5px solid;
    border-radius: 10px;
}
