.container{
    background-color: blue;
}

.allcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.videomaker{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}