h1{
    color: #c25483;
    text-align: center;
    border: #fa7590 5px solid;
    border-radius: 10px;
}

      .allcard{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      
    }
