body{
    background-color: #f4d7dd
/* background: linear-gradient(90deg,#FFF7AD 0%, #FFA9F9 100%); */

}

.container{
    display: flex;
     flex-direction: column;
     justify-content: center; 
    /* justify-content: flex-start; */
    /* justify-content: space-around; */

}
h1{
    color: #c25483;
    text-align: center;
    border: #fa7590 5px solid;
    border-radius: 10px;
}