body{
    background: rgb(244,215,221);
background: linear-gradient(180deg, rgba(244,215,221,1) 0%, rgba(224,156,170,1) 66%);

}

.container{
    display: flex;
     flex-direction: column;
     justify-content: center; 
    /* justify-content: flex-start; */
    /* justify-content: space-around; */

}
h1{
    color: #FF0571;
    text-align: center;
    border: #fa7590 5px solid;
    border-radius: 10px;
}